// Colors
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$light_grey: rgb(245, 245, 245);

// Font sizes
$standard_font_size_sm: 16px;
$standard_font_size_xl: 17px;

$section_primary_title_fs_sm: 22px;
$section_primary_title_fs_xl: 36px;
$section_secondary_title_fs_sm: 18px;
$section_secondary_title_fs_xl: 22px;

$card_title_font_size_sm: 18px;
$card_title_font_size_xl: 20px;

// Font weights
$semi_bold_font_weight: 600;

// Text colors
$primary_text_color: $black;

// Widths
$max_content_width_xl: 1300px;

// Spacing
$standard_content_space_sm: 24px;
$standard_content_space_md: 48px;
$standard_content_space_xl: 70px;

$section_space_sm: 100px;
$section_space_md: 130px;
$section_space_xl: 200px;

$section_title_space_sm: 23px;
$section_title_space_md: 30px;
$section_title_space_lg: 35px;
$section_title_space_xl: 45px;

$space_between_elements_sm: 25px;
$space_between_elements_md: 25px;
$space_between_elements_xl: 30px;

$space_between_card_elements_sm: 15px;
$space_between_card_elements_md: 10px;
$space_between_card_elements_xl: 22px;
