@import "breakpoints";

.favorite-card {
    height: 100%;
}

.favorite-card__container {
    height: 100%;
    position: relative;
    margin-bottom: 22px;
}

.favorite-card__image {
    height: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.11);
}

.favorite-card__count {
    position: absolute;
    bottom: 0;
    right: 13px;
    transform: translateY(50%);

    span {
        font-size: 36px;
        font-weight: var(--black-font-weight);
        text-shadow: 1px 1px 0 var(--background-color),
            -1px 1px 0 var(--background-color),
            1px -1px 0 var(--background-color),
            -1px -1px 0 var(--background-color),
            0px 1px 0 var(--background-color),
            0px -1px 0 var(--background-color),
            -1px 0px 0 var(--background-color),
            1px 0px 0 var(--background-color), 2px 2px 0 var(--background-color),
            -2px 2px 0 var(--background-color),
            2px -2px 0 var(--background-color),
            -2px -2px 0 var(--background-color),
            0px 2px 0 var(--background-color),
            0px -2px 0 var(--background-color),
            -2px 0px 0 var(--background-color),
            2px 0px 0 var(--background-color), 1px 2px 0 var(--background-color),
            -1px 2px 0 var(--background-color),
            1px -2px 0 var(--background-color),
            -1px -2px 0 var(--background-color),
            2px 1px 0 var(--background-color),
            -2px 1px 0 var(--background-color),
            2px -1px 0 var(--background-color),
            -2px -1px 0 var(--background-color);

        @include min-width-xl {
            font-size: 44px;
        }
    }
}

.favorite-card__info {
    max-width: 80%;
}

.favorite-card__title {
    font-size: 18px;
    font-weight: var(--bold-font-weight);
    margin-bottom: 10px;

    @include min-width-xl {
        font-size: 20px;
        margin-bottom: 6px;
    }
}

.favorite-card__description {
    font-size: 14px;
    font-weight: var(--medium-font-weight);
    opacity: 0.5;

    @include min-width-xl {
        font-size: 16px;
    }
}
