@use "breakpoints" as *;

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  z-index: 100;
}

.loading-screen__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.loading-screen__text {
  font-weight: var(--medium-font-weight);
  font-size: 18px;
  margin-right: 20px;
  margin-bottom: -8px;
}
