@use "breakpoints" as *;

.posts {
  margin-bottom: 130px;

  @include min-width-lg {
    margin-bottom: 120px;
  }

  @include min-width-xl {
    margin-bottom: 205px;
  }
}

.posts__controls {
  margin-bottom: 40px;

  @include min-width-md {
    margin-bottom: 35px;
  }

  @include min-width-lg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  @include min-width-xl {
    margin-bottom: 50px;
  }
}

.posts__primary-controls-container {
  margin-bottom: 25px;

  @include min-width-md {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  @include min-width-lg {
    margin-bottom: 0;
  }

  @include min-width-xl {
    gap: 80px;
  }
}

.posts__search-form {
  margin-bottom: 25px;

  @include min-width-md {
    order: 2;
    margin-bottom: 0;
  }
}

.posts__sort-controls {
  font-weight: var(--medium-font-weight);
  display: flex;
  gap: 20px;

  @include min-width-lg {
    gap: 60px;
  }

  @include min-width-xl {
    gap: 80px;
  }
}

.posts__sort-new-btn,
.posts__sort-popular-btn {
  opacity: 0.5;

  &--active {
    opacity: 1;
  }
}

.posts__sort-buttons-separator {
  @include min-width-lg {
    display: none;
  }
}

.posts__page-controls {
  display: flex;
  justify-content: space-between;

  @include min-width-md {
    justify-content: start;
    gap: 80px;
  }

  @include min-width-lg {
    gap: 60px;
  }

  @include min-width-xl {
    gap: 80px;
  }
}

.posts__loading-animation {
  order: 2;

  @include min-width-md {
    order: 3;
  }

  @include min-width-lg {
    order: 1;
  }
}

.posts__prev-btn,
.posts__next-btn {
  opacity: 0.5;

  &--active {
    opacity: 1;
  }
}

.posts__prev-btn {
  order: 1;
}

.posts__next-btn {
  order: 3;

  @include min-width-md {
    order: 2;
  }
}

.posts__empty {
  padding-bottom: 60px;

  @include min-width-lg {
    height: 426px;
    padding-bottom: 0;
  }

  @include min-width-xl {
    height: 483px;
  }

  h1 {
    font-weight: var(--bold-font-weight);
    margin-bottom: 10px;
  }

  p {
    opacity: 0.5;
  }
}

.posts__cards-container {
  @include min-width-md {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @include min-width-lg {
    grid-template-columns: repeat(4, 1fr);
  }

  @include min-width-xl {
    gap: 50px;
  }
}

.posts__card {
  margin-bottom: 35px;

  @include min-width-md {
    width: 100%;
    margin-bottom: 10px;
  }

  &:nth-child(1) {
    animation: 0.7s animate-post-card both;
  }

  &:nth-child(2) {
    animation: 0.7s 0.1s animate-post-card both;
  }

  &:nth-child(3) {
    animation: 0.7s 0.2s animate-post-card both;
  }

  &:nth-child(4) {
    animation: 0.7s 0.3s animate-post-card both;
  }

  @keyframes animate-post-card {
    from {
      opacity: 0;
      transform: translateY(50px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
