@use "breakpoints" as *;

.post-card {
  display: block;
}

.post-card__container {
  position: relative;
  height: 500px;
  margin-bottom: 25px;

  @include min-width-md {
    height: 400px;
  }

  @include min-width-lg {
    height: 350px;
  }

  @include min-width-xl {
    height: 400px;
    margin-bottom: 30px;
  }
}

.post-card__image {
  position: relative;
  height: 100%;
}

.post-card__shadow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 90%;
  filter: blur(15px);
}

.post-card__info {
  text-align: center;
}

.post-card__title {
  font-weight: var(--bold-font-weight);
  margin-bottom: 5px;

  @include min-width-xl {
    margin-bottom: 7px;
  }
}

.post-card__description {
  font-size: 14px;
  font-weight: var(--medium-font-weight);
  opacity: 0.5;
}
